@import "constants";
@import "mixins";

.about {
  margin-top: 76px;

  @include media-screen-small {
    margin-top: 46px;
  }

  @include media-screen-big {
    margin-left: 8%;
  }

  @include media-screen-small {
    margin: 0 20px;
  }

  & .container {
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    max-width: 1090px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;

    @include media-screen-tablet {
      display: block;
      text-align: center;
    }

    &_img {

      & img {

        @include media-screen-tablet {
          width: 100%;
        }
      }
    }

    &_descr {
      padding-top: 87px;
      padding-left: 58px;

      @include media-screen-tablet {
        padding: 47px 30px;
      }

      @include media-screen-small {
        padding: 37px 10px;
      }
    }

    &_title {
      letter-spacing: 0.03em;
    }

    &_paragraph {
      font-size: 18px;
      padding-top: 38px;
      padding-right: 54px;
      padding-bottom: 125px;

      @include media-screen-tablet {
        padding-right: 0;
      }
    }
  }
}
