.features {
    text-align: center;

    &__title {
        padding-top: 126px;
        letter-spacing: 0.06em;
    }

    &__paragraph {
        max-width: 470px;
        margin: 0 auto;
        padding-top: 32px;
        line-height: 24px;
        letter-spacing: 0.01em;
    }

    &__items {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        justify-content: left;
        align-items: center;
        vertical-align: middle;
        padding-right: 30px;
        margin-right: 20px;
        height: 300px;
        width: 400px;

        &:nth-child(1) {
            background: url(../assets/img/item1-background.png) no-repeat;
            background-size: 76% 100%;
            background-position-x: 100px;
        }

        &:nth-child(2) {
            background: url(../assets/img/item2-background.png) no-repeat;
            background-size: 76% 100%;
            background-position-x: 100px;
            background-position-y: 30px;
        }

        &:nth-child(3) {
            background: url(../assets/img/item3-background.png) no-repeat;
            background-size: 76% 100%;
            background-position-x: 100px;
            margin-top: 50px;
        }

        &:nth-child(4) {
            background: url(../assets/img/item4-background.png) no-repeat;
            background-size: 76% 100%;
            background-position-x: 100px;
            margin-top: 50px;
        }

        &_img {
            max-width: 345px;

            & img {
                padding-top: 20px;
                width: 140%;
            }
        }

        &_content {
            text-align: left;
            width: 300px;
            padding-left: 86px;
        }

        &_title {
            font-size: 20px;
            font-weight: 400;
            line-height: 31.2px;
            padding-top: 70px;
        }

        &_paragraph {
            font-size: 12px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0.03em;
            padding-top: 20px;
            height: 136px;
            overflow: hidden;
        }

        &_button {
            font-family: 'Avenir';
            font-size: 14px;
            font-weight: 800;
            line-height: 25.6px;
            letter-spacing: 0.5%;
            // padding-top: 20px;
            padding-bottom: 33px;

            &::after {
                content: "\27F6";
                color: #9C69E2;
                padding-left: 20px;
            }

            &:hover {
                color: $button-demo-hover-color;
            }
        }
    }
}
