@import "constants";
@import "mixins";

.footer {
  max-width: 1140px;
  padding-top: 150px;
  padding-left: 36px;

  @include media-screen-small {
    padding: 50px 20px 0;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;

    @include media-screen-tablet {
      justify-content: center;    
    }

    @include media-screen-xs {
      text-align: center;    
    }

    &_adress {
      &--logo {
        display: flex;

        & span {
          padding-left: 20px;
          padding-top: 4px;
          font-size: 20px;
          font-weight: 900;
          line-height: 32px;
        }

        @include media-screen-tablet {
          justify-content: center;
        }
      }

      &--map {
        padding-top: 66px;
        font-weight: 700;
        font-size: 16px;
        line-height: 28.8px;
        letter-spacing: 0.01em;
      }

      &--contacts {
        padding-top: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28.8px;
        letter-spacing: 0.01em;
      }
    }
  }

  &__nav {
    padding-top: 12px;
    padding-left: 18%;
    display: flex;

    @include media-screen-tablet {
      padding-left: 10%;
      padding-top: 32px;
      justify-content: center;
    }

    @include media-screen-xs {
      padding: 10%;    
    }


    &_title {
      font-size: 16px;
      font-weight: 900;
      line-height: 25.6px;
    }

    &--about {
      padding-left: 26px;

      @include media-screen-tablet {
        padding-left: 0;
      }
    }

    &--help {
      padding-left: 144px;

      @include media-screen-big {
        padding-left: 100px;
      }

      @include media-screen-tablet {
        padding-left: 80px;
      }
    }

    &--social {
      padding-top: 12px;
      padding-left: 14%;

      @include media-screen-big {
        padding-left: 5%;
      }

      @include media-screen-tablet {
        padding-left: 10%;
      }

      @include media-screen-small {
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
      }
    }

    &_items {
      padding-top: 44px;
      font-size: 16px;
    }

    & li {
      padding-bottom: 20px;

      &:hover {
        font-weight: 700;
      }
    }
  }

  &__social {
    &_items {
      padding-top: 44px;

      & a {
        font-size: 18px;
        color: #ffffff;
        background: $color-dark;
        opacity: 0.1;
        border-radius: 50%;
        padding: 15px 18px;
        margin-right: 12px;
        cursor: pointer;

        &:first-child {
          padding: 15px 22px;
        }

        &:nth-child(2) {
          &:hover {
            background: #00acee;
          }
        }

        &:last-child {
          padding: 15px 20px;

          &:hover {
            background: $button-demo-hover-color;
          }
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__copyright {
    padding: 82px 0;
    font-size: 12px;
    line-height: 21.6px;
  }
}
