.testimonials {
    margin-top: 114px;
    background: #9C69E2;
    border-radius: 50px;
    height: 568px;

    &__title {
        color: #FFFFFF;
        padding-top: 82px;
        padding-left: 82px;
        letter-spacing: 0.07em;
    }

    &__response {
        background: #FFFFFF;
        border-radius: 20px;
        box-shadow: 0 20px rgba(149, 84, 238, 0.9);
        max-width: 520px;
        margin: 62px auto 133px;
        display: flex;
        justify-content: left;

        &_img {
            padding-top: 52px;
            padding-left: 58px;

            & img {
                max-width: 70px;
            }
        }

        &_content {
            padding-top: 60px;
            padding-left: 28px;
            padding-right: 70px;
            font-family: 'Avenir';

            & h4 {
                font-size: 14px;
                font-weight: 900;
                line-height: 28.8px;
                letter-spacing: 0.01em;
            }

            & span {
                font-size: 11px;
                font-weight: 500;
                line-height: 22.4px;
                color: #9C69E2;
            }

            & p {
                padding-top: 10px;
                padding-bottom: 16px;
                width: 308px;
                height: 130px;
                overflow: hidden;
                line-height: 25px;
                letter-spacing: 0.01em;
            }
        }
    }
}