@import "constants";
@import "mixins";

.testimonials {
  margin-top: 138px;
  background: #9c69e2;
  border-radius: 50px;
  max-width: 1090px;
  height: 710px;

  @include media-screen-big {
    margin-left: 35px;
  }

  @include media-screen-small {
    height: 510px;
    margin: 40px 20px 0;
  }

  &__title {
    color: #ffffff;
    padding-top: 108px;
    padding-left: 81px;
    letter-spacing: 0.04em;

    @include media-screen-small {
      padding-top: 50px;
    }

    @include media-screen-xs {
      padding-left: 20px;
    }
  }

  &__response {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 20px rgba(149, 84, 238, 0.9);
    max-width: 645px;
    margin: 84px auto 133px;
    display: flex;
    justify-content: left;

    @include media-screen-small {
      margin: 54px auto 133px;
    }

    &_img {
      padding-top: 60px;
      padding-left: 70px;

      & img {
        @include media-screen-xs {
          width: 68px;
        }
      }

      @include media-screen-small {
        padding-top: 30px;
        padding-left: 40px;
      }

      @include media-screen-xs {
        padding-top: 100px;
        padding-left: 20px;
      }
    }

    &_content {
      padding-top: 80px;
      padding-left: 30px;
      padding-right: 70px;
      font-family: "Avenir";

      @include media-screen-small {
        padding-top: 40px;
        padding-right: 50px;
      }

      @include media-screen-xs {
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
      }

      & h4 {
        font-size: 18px;
        font-weight: 900;
        line-height: 28.8px;
        letter-spacing: 0.01em;
      }

      & span {
        font-size: 14px;
        font-weight: 500;
        line-height: 22.4px;
        color: #9c69e2;

        @include media-screen-xs {
          font-size: 10px;
        }
      }

      & p {
        padding-top: 20px;
        padding-bottom: 50px;
        width: 382px;
        height: 130px;
        overflow: hidden;
        line-height: 32.4px;
        letter-spacing: 0.05em;

        @include media-screen-small {
          width: 100%;
        }

        @include media-screen-xs {
          font-size: 12px;
          padding-top: 10px;
          line-height: 22.4px;
          letter-spacing: 0.01em;
        }
      }
    }
  }
}
