@import "constants";

.top {
    padding-top: 104px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background: url(../assets/img/top-bg.png) no-repeat;
    background-position: 80% 84%;
    background-size: 48%;

    &__content {
        text-align: left;

        &_title {
            font-size: 60px;
            line-height: 74px;
            font-weight: bolder;
            max-width: 620px;
            letter-spacing: 0.07em;
        }
    
        &_paragraph {
            max-width: 310px;
            padding: 38px 0;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.02em;

        }

        &_button-container {
            padding-bottom: 120px;
        }
    
        &_button {
            padding: 10px 32px;
            background: #9C69E2;
            color: #FFFFFF;
            font-size: 14px;
            line-height: 29px;
            cursor: pointer;
    
            &:hover {
                background: $button-demo-hover-color;
            }
        }
    
    }
}


